<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?if $(var.Platform)=x64 ?>
	<?define ProductCode="{B7E41AD1-CF61-4850-8B7C-652383C1FB7C}"?>
	<?else?>
	<?define ProductCode="{867D110D-9A48-4F6B-A84B-7818D09F23D6}"?>
	<?endif?>
	
	<?define UpgradeCode="{BE371229-3049-4DCB-875F-B1B1A448C98B}"?>
	<?define ShieldProperty = "C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0" ?>
	<?define ShieldPlugin = "C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin" ?>
	
	<?define BuildVersion=1.2.3.01 ?>
	
			 <Product Id="$(var.ProductCode)" 
			 Name="!(loc.ProductName_$(var.Platform))"
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)" 
			 Manufacturer="$(loc.Company)" 
			 UpgradeCode="$(var.UpgradeCode)">
			 <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />			 
				  <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
				  

				  <!-- <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" /> -->
				  <Property Id="WIXUI_INSTALLDIR" Value="ProgramFilesFolder" />
				  
				  <UIRef Id="WixUI_InstallDir" />
 
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />


		<Feature Id="ProductFeature" Title="Intrusion" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut"></ComponentRef>
			<ComponentRef Id="ApplicationShortcutDesktop"></ComponentRef>
			<ComponentRef Id="BinComponent" />
			<ComponentRef Id="refComponent" />
			
			<ComponentRef Id="net6.0" />
			<ComponentRef Id="IntrusionExtensionFileComponent" />
			<ComponentRef Id="BatchFileComponent" />
			<ComponentRef Id="InstallExtensionScriptComponent" />
			<ComponentRef Id="popup" />
			<ComponentRef Id="imgall" />
			<ComponentRef Id="jsall" />
			<ComponentRef Id="manifest" />
			<ComponentRef Id="popuphtml" />
			
		</Feature>
			
	
</Product>

	<Fragment >
		<Icon Id="icon.ico" SourceFile="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\Assets\Images\ziti-white.ico"/>
		<WixVariable Id="WixUIDialogBmp" Value="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\Assets\Images\connected.png"/>
		<WixVariable Id="WixUIIcon" Value="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\Assets\Images\ziti-white.ico"/>
		<Directory Id="TARGETDIR" Name="SourceDir" >
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Intrusion" >
					<Directory Id="BINFOLDER" Name="Bin">
						<Component Id="BinComponent" Guid="492e969b-6c87-4cac-9cdc-040e09e0b7db">
							<!-- Include all files from the bin folder -->
							<File Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\log.txt" />


							<!-- Add more files as needed -->
						</Component>
					</Directory>
					<Directory Id="refFOLDER" Name="ref">
						<Component Id="refComponent" Guid="4101ba4f-0f97-4dab-82a2-b3a48a5974f7">
							<!-- Include all files from the bin folder -->
							<File Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ref\ShieldProxyConsole.dll" />

							<!-- Add more files as needed -->
						</Component>
					</Directory>
					<Directory Id="runtimeFOLDER" Name="runtimes">
						<Directory Id="winFOLDER" Name="win">
							<Directory Id="libFOLDER" Name="lib">
								<Directory Id="net6.0FOLDER" Name="net6.0">
									<Component Id="net6.0" Guid="9a7bd404-9293-4605-af71-e5aa1897b953">
										<!-- Include all files from the bin folder -->
										<File Id="systemevent" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\runtimes\win\lib\net6.0\Microsoft.Win32.SystemEvents.dll" />
										<File Id="commondl" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\runtimes\win\lib\net6.0\System.Drawing.Common.dll" />
										<File Id="mgntdl" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\runtimes\win\lib\net6.0\System.Management.dll" />
										<File Id="extntdl" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\runtimes\win\lib\net6.0\System.Windows.Extensions.dll" />

										<!-- Add more files as needed -->
									</Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
					<!-- Define the .crx file component -->
					<Directory Id="ChromeEX" Name="ChromeEX">
						<Component Id="IntrusionExtensionFileComponent" Guid="a83688ee-3b6c-415d-b724-754baf09caab">
							<File Id="IntrusionExtensionFile" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin.crx" KeyPath="yes"/>
						</Component>



					</Directory>
					<Directory Id="ChromeBatch" Name="ChromeBatch">
						<Component Id="BatchFileComponent" Guid="55e9adb0-b39a-4cbe-be61-719586aa3860">
							<!--<File Id="MyBatchFile" Source="C:\Users\Sujith.Kumar\Desktop\All Details\one.bat" KeyPath="yes" />-->
						<File Id="MyBatchFile" Source="C:\Users\Sujith.Kumar\Desktop\install-script.bat" KeyPath="yes" />
						</Component>
					</Directory>

					<!-- Define the PowerShell script component -->
					<Component Id="InstallExtensionScriptComponent" Guid="a982a1e9-d35f-4c19-98a4-5f2f11c67078">
						<File Id="InstallExtensionScript.ps1" Source="C:\Users\Sujith.Kumar\Desktop\InstallExtensionScript.ps1" KeyPath="yes" />
					</Component>

					<!-- Define the Shield Browser Plugin component -->
					<Directory Id="ShieldBrowserPlugin" Name="Shield Browser Plugin">
						<Directory Id="css" Name="css">
							<Component Id="popup" Guid="8d067a28-3164-430f-b1a7-9a9b95cf0381">
										<File Id="popupfile" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\css\popup.css" ></File>
				
							</Component>
						</Directory>
						<Directory Id="images" Name="images">
							<Component Id="imgall" Guid="972e68ce-714f-471c-bd4d-b55edf2e0643">
										<File Id="biglogowhite" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\big-logo-white.png" ></File>
								<File Id="iconactive16" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-16.png" ></File>
								<File Id="iconactive19" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-19.png" ></File>
							<File Id="iconactive32" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-32.png" ></File>
							<File Id="iconactive38" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-38.png" ></File>
							<File Id="iconactive48" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-48.png" ></File>
						<File Id="iconactive64" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-64.png" ></File>					
							<File Id="iconactive128" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-active-128.png" ></File>
							<File Id="icondisabled16" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-16.png" ></File>
							<File Id="icondisabled19" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-19.png" ></File>
							<File Id="icondisabled32" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-32.png" ></File>
							<File Id="icondisabled38" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-38.png" ></File>
							<File Id="icondisabled48" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-48.png" ></File>
						<File Id="icondisabled128" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-disabled-128.png" ></File>
								<File Id="iconwhite128" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\icon-white-128.png" ></File>
								<File Id="INTLogoBlueweb" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\INT-Logo-Blue-web.png" ></File>
								<File Id="INTLogoWhitesm" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\images\INT-Logo-White_sm.png" ></File>
							
							
							
							</Component>
						</Directory>
						<Directory Id="js" Name="js">
							<Component Id="jsall" Guid="ebbfdb9c-d73c-4f90-b4d3-57a93809d6e6">
										<File Id="thirtyptwo" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\js\32.png" ></File>
								<File Id="background" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\js\background.js" ></File>
								<File Id="popupsecond" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\js\popup.js" ></File>
				
							</Component>
						</Directory>
						<Component Id="manifest" Guid="bedf55dd-0c80-4c5f-992e-1860d4abac3a">
				<File Id="manifest" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\manifest.json" ></File>
			</Component>
					<Component Id="popuphtml" Guid="5a3ac012-3dc9-40a5-b19e-2be56a7f1faf">
				<File Id="popuphtmlfile" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Shield Browser Plugin\popup.html" ></File>
			</Component>
					</Directory>

				</Directory>

			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Intrusion"  />

			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" >

			</Directory>

		</Directory>



		<!-- Define the custom action
		<CustomAction Id="InstallChromeExtension"  FileKey="InstallExtensionScript.ps1" ExeCommand="powershell.exe -ExecutionPolicy Bypass -File [#InstallExtensionScript.ps1] [#ChromeExtension.crx]" Execute="deferred" Return="check" />-->
<CustomAction Id="RunBatFile" FileKey="MyBatchFile" ExeCommand="" Return="ignore" />
<InstallExecuteSequence>
    <Custom Action="RunBatFile" After="InstallFinalize">NOT Installed</Custom>
</InstallExecuteSequence>

	</Fragment>
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
				<Shortcut Id="ApplicationStartMenuShortcuts" Name="ShieldIntrusionProjectf" Description="IntrusionProjecte" Target="[INSTALLFOLDER]ShieldProxyConsole.exe" WorkingDirectory="INSTALLFOLDER" />
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Intrusion Shield Endpointc" Description="IntrusionProjectd" Target="[INSTALLFOLDER]ZitiDesktopEdge.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\MyIntrusionApplication" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>

		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Intrusion Shield Endpointg" Description="IntrusionProject" Target="[INSTALLFOLDER]ZitiDesktopEdge.exe" WorkingDirectory="INSTALLFOLDER" />
				
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\MyIntrusionApplication" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			
		</DirectoryRef>
		
		
		
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<!-- Source="$(var.SourceDir)\ UpgradeCode="43da3bc4-6b36-45de-8bcf-bf994e9c8d0a" TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources tobinar this installer. -->
			<Component Id="ShieldProxyConsole.runtimeconfig.json"  >
				<File Id="ShieldProxyConsole.runtimeconfig.json" Name="ShieldProxyConsole.runtimeconfig.json" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxyConsole.runtimeconfig.json"></File>
			</Component>

			

			<Component Id="log.txt"  >
				<File Id="fllog.txt" Name="log.txt" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\log.txt"></File>
			</Component>

			
			<Component Id="ShieldProxyConsoledeps.json"  >
				<File Id="ShieldProxyConsoledeps.json" Name="ShieldProxyConsole.deps.json" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxyConsole.deps.json"></File>
			</Component>

			<Component Id="configuration"  >
				<File Id="configuration" Name="configuration.json" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\configuration.json"></File>
			</Component>

			<Component Id="configuration02"  >
				<File Id="configuration02" Name="configuration02.json" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\configuration02.json"></File>
			</Component>

			<Component Id="ShieldProxyConsoledll"  >
				<File Id="ShieldProxyConsoledll" Name="ShieldProxyConsole.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxyConsole.dll"></File>
			</Component>

			

			<Component Id="System.Windows.Extensions"  >
				<File Id="System.Windows.Extensions" Name="System.Windows.Extensions.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\System.Windows.Extensions.dll"></File>
			</Component>

			<Component Id="System.Security.Permissions"  >
				<File Id="System.Security.Permissions" Name="System.Security.Permissions.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\System.Security.Permissions.dll"></File>
			</Component>

			<Component Id="System.Management"  >
				<File Id="System.Management" Name="System.Management.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\System.Management.dll"></File>
			</Component>

			<Component Id="System.Drawing.Common"  >
				<File Id="System.Drawing.Common" Name="System.Drawing.Common.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\System.Drawing.Common.dll"></File>
			</Component>


			<Component Id="System.CodeDom"  >
				<File Id="System.CodeDom" Name="System.CodeDom.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\System.CodeDom.dll"></File>
			</Component>


			<Component Id="ShieldProxyConsole.pdb"  >
				<File Id="ShieldProxyConsole.pdb" Name="ShieldProxyConsole.pdb" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxyConsole.pdb"></File>
			</Component>



			<Component Id="sp_Newtonsoft.Json.dll"  >
				<File Id="sp_Newtonsoft.Json.dll" Name="sp_Newtonsoft.Json.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\Newtonsoft.Json.dll"></File>
			</Component>




			<Component Id="Microsoft.Win32.SystemEvents.dll"  >
				<File Id="Microsoft.Win32.SystemEvents.dll" Name="Microsoft.Win32.SystemEvents.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\Microsoft.Win32.SystemEvents.dll"></File>
			</Component>



			<Component Id="BouncyCastle.Cryptography.dll"  >
				<File Id="BouncyCastle.Cryptography.dll" Name="BouncyCastle.Cryptography.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\BouncyCastle.Cryptography.dll"></File>
			</Component>


			<Component Id="ARSoft.Tools.Net.dll"  >
				<File Id="ARSoft.Tools.Net.dll" Name="ARSoft.Tools.Net.dll" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ARSoft.Tools.Net.dll"></File>
			</Component>

			<Component Id="ShieldProxyConsole.exe"  >
				<File Id="ShieldProxyConsole" Name="ShieldProxyConsole.exe" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxyConsole.exe"></File>
			</Component>
			<Component Id="ShieldProxy.vbs"  >
				<File Id="ShieldProxy" Name="ShieldProxy.vbs" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\ShieldDNSProxyCSharp-main\ShieldProxyConsole\bin\Debug\net6.0\ShieldProxy.vbs"></File>
			</Component>

			<!--  ZitiDesktop. -->
			 <Component Id="ZitiDesktopEdge"  Guid="6d9aa370-3a2d-4998-b3cd-cf2ad35983cf">
				 <File Id="ZitiDesktopEdge" Name="ZitiDesktopEdge.exe" Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\ZitiDesktopEdge.exe"></File>
		 </Component> 
	
			<Component Id="cmp_Microsoft.Bcl.AsyncInterfaces" >
				<File Id="fil_Microsoft.Bcl.AsyncInterfaces.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.Bcl.AsyncInterfaces.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.Identity.Client" Guid="fcad49aa-33bb-4008-898a-602bf7dd00b9" >
				<File Id="fil_Microsoft.Identity.Client.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.Identity.Client.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.IdentityModel.Abstractions"  >
				<File Id="fil_Microsoft.IdentityModel.Abstractions.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.IdentityModel.Abstractions.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.IdentityModel.JsonWebTokens"  >
				<File Id="fil_Microsoft.IdentityModel.JsonWebTokens.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.IdentityModel.JsonWebTokens.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.IdentityModel.Logging"  >
				<File Id="fil_Microsoft.IdentityModel.Logging.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.IdentityModel.Logging.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.IdentityModel.Tokens"  >
				<File Id="fil_Microsoft.IdentityModel.Tokens.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.IdentityModel.Tokens.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.Toolkit.Uwp.Notifications"  >
				<File Id="fil_Microsoft.Toolkit.Uwp.Notifications.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.Toolkit.Uwp.Notifications.dll"></File>
			</Component>

			<Component Id="cmp_Microsoft.Toolkit.Uwp.Notifications.pdb"  >
				<File Id="fil_Microsoft.Toolkit.Uwp.Notifications.pdb"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Microsoft.Toolkit.Uwp.Notifications.pdb"></File>
			</Component>

			<Component Id="cmp_Newtonsoft.Json"  >
				<File Id="fil_Newtonsoft.Json.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\Newtonsoft.Json.dll"></File>
			</Component>

			<Component Id="cmp_NLog"  >
				<File Id="fil_NLog.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\NLog.dll"></File>
			</Component>

			<Component Id="cmp_QRCoder"  >
				<File Id="fil_QRCoder.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\QRCoder.dll"></File>
			</Component>

			<Component Id="cmp_System.Buffers"  >
				<File Id="fil_System.Buffers.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Buffers.dll"></File>
			</Component>

			<Component Id="cmp_System.IdentityModel.Tokens.Jwt"  >
				<File Id="fil_System.IdentityModel.Tokens.Jwt.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.IdentityModel.Tokens.Jwt.dll"></File>
			</Component>

			<Component Id="cmp_System.Memory"  >
				<File Id="fil_System.Memory.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Memory.dll"></File>
			</Component>

			<Component Id="cmp_System.Numerics.Vectors"  >
				<File Id="fil_System.Numerics.Vectors.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Numerics.Vectors.dll"></File>
			</Component>

			<Component Id="cmp_System.Runtime.CompilerServices.Unsafe"  >
				<File Id="fil_System.Runtime.CompilerServices.Unsafe.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Runtime.CompilerServices.Unsafe.dll"></File>
			</Component>

			<Component Id="cmp_System.Text.Encodings.Web"  >
				<File Id="fil_System.Text.Encodings.Web.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Text.Encodings.Web.dll"></File>
			</Component>

			<Component Id="cmp_System.Text.Json"  >
				<File Id="fil_System.Text.Json.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Text.Json.dll"></File>
			</Component>

			<Component Id="cmp_System.Threading.Tasks.Extensions"  >
				<File Id="fil_System.Threading.Tasks.Extensions.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.Threading.Tasks.Extensions.dll"></File>
			</Component>

			<Component Id="cmp_System.ValueTuple"  >
				<File Id="fil_System.ValueTuple.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\System.ValueTuple.dll"></File>
			</Component>

			<Component Id="cmp_WpfMouseWheelLib"  >
				<File Id="fil_WpfMouseWheelLib.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\WpfMouseWheelLib.dll"></File>
			</Component>

			<Component Id="cmp_ZitiDesktopEdge.Client"  >
				<File Id="fil_ZitiDesktopEdge.Client.dll"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\ZitiDesktopEdge.Client.dll"></File>
			</Component>

			<Component Id="cmp_ZitiDesktopEdge.Clientpdb"  >
				<File Id="fil_ZitiDesktopEdge.Client.pdb"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\ZitiDesktopEdge.Client.pdb"></File>
			</Component>

			<Component Id="cmp_ZitiDesktopEdge"  >
				<File Id="fil_ZitiDesktopEdge.pdb"  Source="C:\Users\Sujith.Kumar\source\LatestIntrusion\Running\Independence2.2\windows-zta-client-AllowDeny\DesktopEdge\bin\Debug\ZitiDesktopEdge.pdb"></File>
			</Component>























		</ComponentGroup>	
	</Fragment>
</Wix>

